<!DOCTYPE html>
<html>
<head>
  {% if title %}
   <title>{{ title }} - users</title>
  {% else %}
   <title>Users of Rivne-cycling</title>
  {% endif %}
  <meta charset="UTF-8">
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}" />
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">  
  <link href="https://fonts.googleapis.com/css?family=Oxygen" rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.css')}}" />
  <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap-theme.css')}}" />
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='main.js')}}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='role_change_confirm.js')}}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='bootstrap.js')}}"></script>
</head>
<body>

<div class="navbar navbar-fixed-top" role="navigation">
  <div class="navbar-header">
  <a class="logo-a"><span class="icon material-icons">menu</span></a>
    <a class="navbar-brand logo-line" href="/">Cycling</a>
  </div>

  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    {% block form %}{% endblock %}
  </div>
</div>

<div class="navmenu navmenu-default" role="navigation">
  <a class="navmenu-brand menu-title" href="#">Administrator</a>
  <ul class="nav navmenu-nav sidenav-ul">
    <li><a class="active" href="/users/all">Users</a></li>
    <li><a href="#">Parking Spaces</a></li>
    <li><a href="#">Services</a></li>
    <li><a href="#">Stolen Bicycles</a></li>
    <li><a href="#">Races Table</a></li>
  </ul>
</div>

<div id="content">
  <h1 class="content-header">{% block title %}{% endblock %}</h1>
   {% block content %}{% endblock %}
</div>

</body>
</html>
