{% extends "index.html" %}

{% block content %}
<div id='user-edit-modal'>
  <form method='POST' name='user'>
    {{ edit_user_form.hidden_tag() }}
    <div>
      {{ edit_user_form.fullName.label }}
      {{ edit_user_form.fullName(class_="dad") }}
    </div>
    <div>
      {{ edit_user_form.email.label }}
      {{ edit_user_form.email }}
    </div>
    <div>
      {{ edit_user_form.ban.label }}
      {{ edit_user_form.ban }}
    </div>
    <div>
      {{ edit_user_form.role.label }}
      {{ edit_user_form.role }}
    </div>
    <input class='btn btn-primary' type='submit' value='Save'/>
    <button class='btn btn-link' onclick='reset_data()'>Cancel</button>
  </form>
</div>
<script>

  // this object holds starting field values
  var user = [
    id: {{ user.id }},
    fullName: {{ user.fullName }},
    email: {{ user.email }},
    ban: {{ user.ban }},
    role: {{ user.role }}
  ];

  // this object holds field elements
  var edit_form = [
    fullName_field: document.getElementById('fullName'),
    email_field: document.getElementById('email'),
    ban_field: document.getElementById('ban'),
    role_field: document.getElementById('role')
  ];

  document.getElementById('id').value = user.id;

  reset_data();
  function reset_data(){
    edit_form.fullName_field.value = user.fullName;
    edit_form.email_field.value = user.email;
    edit_form.role_field.selectedIndex = user.role;
    edit_form.ban_field.checked = user.ban;
  }
</script>
{% endblock content %}
