<!-- extend base layout -->
{% extends "base.html" %}

{% block title %} User Edit {% endblock %}

{% block content %}


{% if user is not none %}
  {% if message is not none %}
  <div class="alert alert-success">
    {{ message }}
  </div>
  {% endif %}
  {% if error is not none %}
  <div class="alert alert-warning">
    {{ error }}
  </div>
  {% endif %}
  <form method='POST' id='edit-form'>
    <div>
      <label class="control-label">Full Name:</label>
      <input class="form-control" type="text" name="full_name" value={{user.full_name}} />
    </div>
    <div>
      <label class="control-label">Email:</label>
      <input class="form-control" type="text" name="email" value={{user.email}} />
    </div>
    <div class="checkbox">

      <label class="control-label" style="font-weight:bold;">
        <input type="checkbox" name="is_active"/>
        Banned/Deleted
      </label>

    </div>
    <div>
      <label class="control-label">Role:</label>
      <select style="form-control" class="form-control" name="role_id" form='edit-form' {% if role_disabled %}disabled{% endif %}>
        <option value="0" {% if user.role_id|int() == 0 %} selected{% endif %}>User</option>
        <option value="1" {% if user.role_id|int() == 1 %} selected{% endif %}>Admin</option>
      </select>
    </div>
    <div style="text-align:center;margin-top:10px;">
      <div style="display:inline-block;margin: 0 auto;">
        <input class='btn btn-primary' type='submit' value='Save'/>
        <button type='button' class='btn btn-link' onclick='reset_data()'>Cancel</button>
        <button type='button' class='btn btn-link' data-toggle="modal" data-target="#reset-modal">Reset Password</button>
      </div>
    </div>
  </form>
{% else %}
  <div class="alert alert-warning">
    User with specified id not found.
  </div>
{% endif %}

<div class="modal fade" id="reset-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="modal-title" id="myModalLabel">Confirm <span class="todo"></span>ing</h4>
      </div>
      <div class="modal-body">
        <p>Reset password?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-danger btn-ok">Indeed</button>
      </div>
    </div>
  </div>
</div>


<script>
var user_id = {{ user.id }};

// this object holds field elements
var edit_form = {
  fullname_field: document.getElementsByName('full_name')[0],
  email_field: document.getElementsByName('email')[0],
  is_active_field: document.getElementsByName('is_active')[0],
  role_field: document.getElementsByName('role_id')[0]
};

reset_data();
function reset_data(){
  edit_form.fullname_field.value = "{{ user.full_name }}";
  edit_form.email_field.value = "{{ user.email }}";
  edit_form.role_field.selectedIndex = {{ user.role_id }};
  edit_form.is_active_field.checked = {% if user.is_active == True %}0{% else %}1{% endif %};
}

// setup modal
$('#reset-modal').on('click', '.btn-ok', function(e) {

    $.ajax({
            url: '/users/' + user_id + '/reset_password',
            type: 'POST',
            error: function(xhr,status,error){
                    console.log('error');
                    $('#reset-modal').modal('hide');
                },
            success: function(result,status,xhr){
                    console.log('success');
                    $('#reset-modal').modal('hide');
                },
            }
    );
});

</script>
{% endblock content %}
