{% extends "base.html" %}
{% block form %}
<form class="navbar-form" method="POST" action="/users/search" id="search-form" role="search">
	<div class="input-group">
   		<div class="input-group-btn">
       		<button class="btn search-button" type="submit"><i class="glyphicon glyphicon-search"></i></button>
    	</div>
    	<input type="search" class="form-control" placeholder="Search" name="search-input">
	</div>
</form>

	{% if message %}
        <span class="help-inline">[{{ message }}]</span><br>
    {% endif %}
{% endblock %}
