<!-- extend base layout -->
{% extends "base.html" %}

{% block title %}Cycling users management{% endblock %}

{% block content %}
<div class="users_table">
	<table border="1px">
	<tbody>

		<tr>
			<th>#</th>
			<th>Full name</th>
			<th>Email</th>
			<th>Delete</th>
			<th>Avatar</th>
			<th>Role</th>
			<th>Edit</th>
		</tr>

		{% for user in users_list %}
		<!-- user tuple: id - [0], full_name - [1], email - [2], is_active - [3], avatar - [4], role_id - [5] -->
		<tr>
			<td>{{user[0]}}</td>
			<td>{{user[1]}}</td>
			<td>{{user[2]}}</td>
			<td>
				{% if user[3] %}
					<input type="checkbox">
				{% else %}
					<input type="checkbox" checked>
				{% endif %}
			</td>
			<td>{{user[4]}}</td>
			<td>
				<select>
				{% if user[5] == 2 %}
					<option selected>admin</option>
					<option>user</option>
				{% else %}
					<option>admin</option>
					<option selected>user</option>
				{% endif %}
				</select>
			</td>
			<td><a href='#' style='color: black; text-decoration: none'>&#128393;</a></td>
		</tr>
		{% endfor %}

	</tbody>
	</table>
</div>
{% endblock %}