<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Login to Cycling Admin</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='login_style.css')}}" /> 
    <style>

    </style>
</head>
<body>
    {% block login_form %}
        <div class="login-page">
            {% from "_formhelpers.html" import render_field %}
            <div class="form">
            <form class="login-form" action="/login" method="post" name="test">
                <dl>
                {{ form.csrf_token }}
                {{ render_field(form.email) }}
                {{ render_field(form.password) }}
                </dl>
                <p><input class="login-button" type=submit value=Login>
                </form>
             </div>
         </div>
    {% endblock %}
</body>
