<!-- Modal -->
  <div class="modal fade" id="roleEditModal" role="dialog">
    <div class="modal-dialog">
              
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Role changing</h4>
        </div>
        <div class="modal-body">
          <p>Are you sure you want to change user role?</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal">Yes</button>
        </div>
      </div>
    </div>
  </div>
